@import "theme/index";

.header-buttons {
  margin: 0px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-header {
  height: 48px;
  width: 112px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-right: 10px;
  border-radius: 8px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-passero;
  font-size: 16px;
}

.btn-header:hover {
  background-color: green;
}

.btn-header:active {
  transform: translateX(-5px);
}
