.row-header {
    min-height: 5vh;
    z-index: 99;
}

.content-header {
  width: auto;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
}

.header-avatar {

}

// .user_display_navbar {
//     display: flex;
//     flex-direction: row;
//     list-style: none;
//     justify-content: space-between;
//     align-items: center;
// }
//
// .dropdown {
//   align-self: center;
//   background-color: red;
// }
