@import "theme/index";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 100;
}

.header-bar {
  display: flex;
  justify-content: flex-start;
  background-color: $color-bg-alt;
}

.row-header {
    min-height: 5vh;
    z-index: 99;
}
