@import "theme/index";

.container-chatroom {
  color: white;
  font-family: $font-overlock;
  font-size: 14px;
}

#usersmessages {
  margin: 10px;
  background-color: rgba(110, 110, 110, 0.1);
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(50, 80, 110, 0.8);
  border-width: 1px;
}


.chatboxmessagecontent {
  background-color: rgba(50, 80, 110, .7);
  border-radius: 12px;
  color: white;
}

.message-user-infos {
  color: lightblue;
  font-size: 10px;
}
