<div class="parallax twilight-imperium">
  <div style="padding-top: 200px;"></div>
  <h1 class="text-center h1-landingpage">Découvre les parties chaudes de ta région</h1>
  <div style="padding-top: 100px;"></div>
  <div class="text-center">
    <a href="#discover-us"><button class="btn btn-lg btn-landingpage">DECOUVRIR</button></a>
    <a href="<%=index_path%>"><button class="btn btn-lg btn-landingpage">VISITER</button></a>
    <button class="modal-inscription btn btn-lg btn-landingpage">S'INSCRIRE</button>
    <button class="modal-connection btn btn-lg btn-landingpage">SE CONNECTER</button>
  </div>

</div>

<div id="discover-us" class="between-landingpage text-center">
  <br><br>
  <h2 class="h2-landingpage">placeholder h2</h2>
  <p class="p-landingpage">placeholder paragraph placeholder paragraph placeholder paragraph</p>
</div>

<div class="parallax risk">
<div class="container-fluid">
  <div class="row p-5">
    <div class="col-7 text-right d-flex align-items-center">
      <h3 class="h1-landingpage" style="color: cornflowerblue;">MARRE DE JOUER TOUT SEUL ?</h3>
    </div>
    <div class="col-5 text-center">
      <img class="picture-landingpage border border-white rounded" src="https://media.giphy.com/media/VfyC5j7sR4cso/giphy.gif">
    </div>
  </div>

  <div class="row p-5">
    <div class="col-5 text-center">
      <img class="picture-landingpage border border-white rounded" src="https://i.gifer.com/MeY5.gif">
    </div>
    <div class="col-7 text-right d-flex align-items-center">
      <h3 class="h1-landingpage" style="color: cornflowerblue;">ENVIE DE S'AMUSER A PLUSIEURS ?</h3>
    </div>
  </div>
</div>
</div>
