<div class="parallax tournois">
  <div style="padding-top: 260px;">
    <div class="logo">
      <img style= "width: 800px" src="/img/logo.png">
    </div>
  </div>
</div>

<div class="tableau">
    Rejoignez la communauté la plus addict au jeux de société !
</div>

<div class="parallax bureau">
    <div class="liste">  
      Un système de création de parties unique 
    </div>
</div>

<div class="tableau">
    Un site 100 % gratuit axé sur la passion du jeu et des cartes
</div>

<div class="parallax database">
  <div class="liste2">
    Des centaines de jeux disponibles et la possibilité d'en ajouter de nouveaux
  </div>
</div>


<div id="discover-us" class="between-landingpage text-center">
<br> <br>
      <div style="padding-top: 20px; class="text-center">
        <a href="<%=index_path%>"><button class="btn btn-lg btn-landingpage">VISITER</button></a>
        <button class="modal-inscription btn btn-lg btn-landingpage">S'INSCRIRE</button>
        <button class="modal-connection btn btn-lg btn-landingpage">SE CONNECTER</button>
      </div>
    </div>