<div class="row" id="conversation-user-to-user">
    <div class="col-lg-3">
        <ul id="conversations-list">
            <% @conversations.each do |conversation| %>
                <%= render 'conversations/conversation_user', conversation: conversation, user: current_user %>
            <% end %>
        </ul>
    </div>

    <div class="col-lg-9" id="conversation-messages-user-to-user">

    </div>
</div>
