
$color-text: rgba(0, 0, 0, 1);

$color-text-alt: rgba(0, 0, 0, 1);

$color-bg: rgba(0, 0, 0, 1);

$color-bg-alt: rgba(0, 0, 0, 1);

$color-inside: rgba(0, 0, 0, 1);

$color-inside-alt: rgba(0, 0, 0, 1);
