
$color-text: rgba(0, 0, 0, 1);

$color-text-alt: rgba(0, 0, 0, 1);

$bg-bordeaux: rgba(152, 63, 107, 1);
$bg-red: rgba(221, 79, 79, 1);
$bg-pink: rgba(98, 67, 66, 1);

$bg-nav: rgba(130,160,190,1);

$color-inside: rgba(0, 0, 0, 1);

$color-inside-alt: rgba(0, 0, 0, 1);
