// Google Fonts :
@import url('https://fonts.googleapis.com/css?family=Belleza|Carrois+Gothic+SC|Della+Respira|Federo|Gaegu|Overlock+SC|Passero+One|Patrick+Hand+SC|Reem+Kufi|Skranji');


$font-reemkufi: 'Reem Kufi', sans-serif;
$font-skranji: 'Skranji', cursive;
$font-belleza: 'Belleza', sans-serif;
$font-carrois: 'Carrois Gothic SC', sans-serif;
$font-federo: 'Federo', sans-serif;
$font-patrick: 'Patrick Hand SC', cursive;
$font-della: 'Della Respira', serif;
$font-gaegu: 'Gaegu', cursive;
$font-overlock: 'Overlock SC', cursive;
$font-passero: 'Passero One', cursive;
