footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: blue;
}

.row-footer {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(251, 121, 120, 1);
    height: 56px;
}
