<div class="container m-5">
  <h2 class="text-white">Il y a actuellement <%=Session.all.length%> sessions proposées.</h2><br>
  <h2 class="text-white">Vous devez être inscrit et connecté pour y avoir accès.</h2>
</div>
