
<div class="container">
  <div class="row">
    <div class="col m-5">
      <h2 class="text-white">Bienvenue sur Table Finder !</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-white">Vous pouvez naviguer sur le site à l'aide du menu sur votre gauche.</p>
    </div>
  </div>
</div>
