<h1>Bienvenue</h1>
<<<<<<< HEAD
<a href="https://www.youtube.com/watch?v=PJQVlVHsFF8"><button class=" btn btn-danger">NE CLIQUE PAS ICI</button></a>
<a href="<%=games_path%>" class='btn btn-warning'>Games</a>
=======
<button class="btn btn-danger">NE CLIQUE PAS ICI</button>


<ul>
    <li><button class="modal-inscription">Inscription</button></li>
    <li><button class="modal-connection">Connexion</button></li>
</ul>

>>>>>>> paul
