    <%= @games.each do |game| %>
    <ul class = >
        <h4><b><%= game.title %></b></h4>
        <% game.min_players %>
        <% game.max_players %>
        
    <% end %>

<h1>Il n'y a pas encore de jeu enregistré ! La base de données est en cours de construction </h1>
<i class="fas fa-dice fa-3x"></i><br>
<i class="fa fa-gamepad fa-3x" aria-hidden="true"></i>