@import "theme/index";

.add-game {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: rgba(90, 120, 150, .7) !important;
}

.add-game:hover {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration-line: none;
  background-color: rgba(190, 80, 65, .7) !important;
}
