@import "theme/index";

.add-game {
  margin: 3px;
  padding: 3px;
  border-style: ridge;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
  background-color: white;
  font-family: $font-skranji;
  font-size: 18px;
  color: black;
}

.add-game:hover {
  background-color: grey;
  text-decoration-line: none;
  color: black;
}
