@import "theme/index";

.col-game-sticker {
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgba(124, 169, 154, .7);
}

.col-game-pic {
}

.games_image {
  margin: 5%;
  max-height: 90%;
  max-width: 90%;
}
