<div id="likes-<%=@user.id%>-<%=@session_id%>">
<% like = LikesToUser.find_by(liker_id: current_user.id, liked_id: @user.id, session_id: @session_id) %>
    <% if like == nil %>
        <%= render 'home/likes/like_user' %>
    <% else %>
        <%= render 'home/likes/unlike_user' %>
    <% end %>
</div>