

@media screen and (max-width:812px) {
    .logo-picture {
        float: left;
        max-width: 45%;
        height: auto !important;
    }
}

@media screen and (max-width:812px) {
    .header-burger {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }
}

@media screen and (max-width:812px) {
    
}
