// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar-profile img {
    width:100px;
}

.games_image_index_home {
    border-style: solid;
    border-radius: 3px;
    border-color: rgba(150, 180, 220, 1);
    border-width: 2px;
    max-height: 150px;
  }