// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Inside messages-list (messages)
ul {
    padding-left: 0px;
    list-style: none;
}

.messages-list {
    font-family: arial,
    sans-serif;
    height: 280px;
    width: 280px;
    overflow-y: auto;
    padding: 7px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background: #e5e5e5;
    line-height: 1.3em;
    list-style: none;
    
}
#messages-list ul li {
    padding: 0.5rem;
    overflow: hidden;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
        }

.self .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
}

.self .avatar {
    order: 2;
}


.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.chatboxmessagecontent {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
    -ms-word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.chatboxmessagecontent time {
    font-size: 9px;
    color: #ccc;
}

.messages-list .avatar {
    width: 40px;
    position: relative;
}

.messages-list .avatar img {
    display: block;
    width: 100%;
}


.message-sent {
    background-color: rgba(50, 80, 110, .7);
    border-radius: 12px;
    color: white;
    border-radius: 12px;
    margin: 5px 20px;
    padding: 10px;

}

.message-received {
    background-color: #F1F0F0;
    border-color: #EEEEEE;
    border-radius: 12px;
    margin: 5px 20px;
    padding: 10px;

}
.message-received time {
        font-size: 9px;
        color: #ccc;
}

.message-sent time {
            font-size: 9px;
            color: #ccc;
}

.avatar-received {
    float: right;
}

.avatar-sender {
}
// Form input

.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.chatboxtextarea {
    width: 262px;
    height: 44px;
    padding: 3px 0pt 3px 3px;
    border: 1px solid #eeeeee;
    margin: 1px;
    overflow: hidden;
    resize: none !important;
}

// flash effect when have a message
.clign a {
  color:red;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
  }

  @-webkit-keyframes flash {
      0% {
          opacity: 1;
      }

      50% {
          opacity: .1;
      }

      100% {
          opacity: 1;
      }
  }

  @keyframes flash {
      0% {
          opacity: 1;
      }

      50% {
          opacity: .1;
      }

      100% {
          opacity: 1;
      }
  }

// When user has window closed
#newmessage .visible {
    background-color: #F1F0F0;
    border-color: #EEEEEE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 3px;

}