@import "theme/index";

@media screen and (max-width:812px) {
    .col-sidebar {
        display: none;
    }
}

.col-sidebar {
  z-index: 2;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 16.666%;
  border-right-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: $bg-nav;
  background: linear-gradient(180deg, rgba(130,160,190,1) 0%, rgba(130,160,190,1) 17%, rgba(130,160,190,0) 100%);

}

.sidebar-hello {
  margin-left: 5px;
  margin-top: 5px;
  font-family: $font-federo;
  font-size: 24px;
}
