
.edit-profile-pic {
  position: absolute;
  margin-top: 5px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  max-height: auto;
  max-width: auto;
}

.edit-profile-img {
  max-height: 100%;
  max-width: 100%;
}
