
<ul class="user_display_navbar">
    <li>navbar placeholder</li>
    <%if user_signed_in? == false%>
        <li><button class="modal-inscription">Inscription</button></li>
        <li><button class="modal-connection">Connexion</button></li>
    <%end%>
    <%if user_signed_in?%>
        <li class="dropdown">
            <img src="https://www.freeiconspng.com/uploads/github-logo-icon-26.png" alt="Avatar" id="avatar"> 
            <div class="dropdown-content">
                <p> <%= link_to "Votre Profil", profile_path%> </p>
                <p> <%= link_to "Editer vos infos", edit_user_registration_path%> </p>
                <p> <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %> <p>
            </div>
        </li>
    <%end%>
</ul>
